<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="Setup.ExtentReportsSetup"></listener>
	</listeners>


  <test thread-count="5" name="Test1">
  
  <parameter name="index" value="0" />
  
  <classes>
  
  	<class name="TestCase.TestCase_001"></class>
  
  </classes>
  
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test2">
  
  <parameter name="index" value="1" />
  
  <classes>
  
  	<class name="TestCase.TestCase_001"></class>
  
  </classes>
  
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
